# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data folders
data/raw/

notebooks/*.html
data/processed/airbnb_paris_combined_poi_features.csv
data/processed/hotels_paris_poi_features.csv
data/processed/hotels_paris_poi_ranking.csv
data/processed/tourism_hospitality_cleaned.csv